/* * {
    color: darksalmon;
    font-size: 25px;
} */
/*
ol, ul {
    list-style-type: none;
}

a {
    text-decoration: underline;
}*/

/* .favorite {
    color: purple;
}

#title {
    color: red;
} */

ol li {
    color: orange;
}