div {
    height: 100px;
    width: 100px;
    background-color: skyblue;
    line-height: 100px;
    text-align: center;
}
/* 클래스의 경우 .(점) 찍고, id의 경우 # 적음 */
.relative {
    position: relative;
    top: 100px;
    left: 100px;
}

.parent {
    position: relative;
}

.absolute-child {
    position: absolute;
    top: 50px;
    left: 50px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}